body{
margin: 0;
}
#youtube{
  display: inline;
  padding: 20px;
}
a{
  text-decoration-color: #888888;
  color: black;
}

h1{
  font-size: 45px; text-align: center;
  border-bottom:1px solid gray;
  margin: 0;
  padding: 30px;
}
ol{
  width: 100px;
  padding: 20px;
  margin: 0;
}


#grid{
  display: grid;
  grid-template-columns: 180px 1fr;
}
#grid #content{
  border-left: 1px solid gray;
  padding-left: 25px;
  padding-right: 25px;
}
#grid #category{
  margin-left: 20px;
  padding-bottom: 20px;
}

#buttons{
  line-height: 30px;
}

.button{
  vertical-align: middle;
}

/* width가 900픽셀보다 작으면 */
@media(max-width:973px){
  #grid{
    display: block;
  }
  #grid ol{
    width: inherit;
    border-right: none;
    padding: 20px;
  }
  #grid #content{
    padding-left: 25px;
    border-top: 1px solid gray;
  }
  #youtube iframe{
    width: auto;
  }
  #buttons{
    line-height:normal;
  }
}

@media(max-width:696px){
  #youtube iframe{
    display: none;
  }
}
